<%- include('./parts/_header') %>

<h2>Správa obsahu</h2>
<%- include('./parts/_contentLogo') %>


<div class="content-container">
    <form action="/admin/content/change-home-texts" method="post">

        <h3>Domů obsah</h3>
        <textarea id="homeContent" name="homeContent"></textarea>
        <div class="center-button">
            <button type="submit" class="admin-button button-blue mt20">Upravit</button>
        </div>

        <h3>Kurzy obsah</h3>
        <textarea id="coursesContent" name="coursesContent"></textarea>
        <div class="center-button">
            <button type="submit" class="admin-button button-blue mt20">Upravit</button>
        </div>

        <h3>Kontakty obsah</h3>
        <textarea id="contactsContent" name="contactsContent"></textarea>
        <div class="center-button">
            <button type="submit" class="admin-button button-blue mt20">Upravit</button>
        </div>

        <h3>Ochrana osobních údajů</h3>
        <textarea id="gdprContent" name="gdprContent"></textarea>
        <div class="center-button">
            <button type="submit" class="admin-button button-blue mt20">Upravit</button>
        </div>

        <h3>Obchodní podmínky</h3>
        <textarea id="conditionsContent" name="conditionsContent"></textarea>
        <div class="center-button">
            <button type="submit" class="admin-button button-blue mt20">Upravit</button>
        </div>

    </form>
</div>

<script>
    const myToolbarButtons = ['fullscreen', '|', 'bold', 'italic', 'underline', '|', 'fontFamily', 'fontSize', 'color', 'inlineStyle', '|', 'paragraphFormat', 'paragraphStyle', '|', 'align', 'formatOL', 'formatUL', '-', 'insertLink', '|', 'insertHR', '|', 'undo', 'redo', 'trackChanges']

    new FroalaEditor('#homeContent', {
        toolbarButtons: myToolbarButtons
    }, function () {
        this.html.set('<%- homeContent %>');
    })

    new FroalaEditor('#coursesContent', {
        toolbarButtons: myToolbarButtons
    }, function () {
        this.html.set('<%- coursesContent %>');
    })

    new FroalaEditor('#contactsContent', {
        toolbarButtons: myToolbarButtons
    }, function () {
        this.html.set('<%- contactsContent %>');
    })

    new FroalaEditor('#gdprContent', {
        toolbarButtons: myToolbarButtons
    }, function () {
        this.html.set('<%- gdprContent %>');
    })

    new FroalaEditor('#conditionsContent', {
        toolbarButtons: myToolbarButtons
    }, function () {
        this.html.set('<%- conditionContent %>');
    })
</script>

<%- include('./parts/_footer') %>