<%- include('./parts/_header') %>

<h2>Správa kurzů</h2>

<div>
    <a href="/admin/courses" class="<%= marked === "courses" ? "marked" : ""%>">Kurzy</a>
    <a href="/admin/courses/categories" class="<%= marked === "categories" ? "marked" : ""%>">Kategorie</a>
</div>

<%- include('./parts/_coursesCategoriesForm') %>

<div class="content-container">
    <h3>Seznam kategrií</h3>
    <% if ((categories.length >= 1)) { %>
        <%- include('./parts/_coursesCategoriesList') %>
    <% } else { %>
        <div class="content-container">
            <p>žádné</p>
        </div>
    <% } %>
</div>


<%- include('./parts/_footer') %>