<%- include('./parts/_header') %>

<h2>Správa objednávek</h2>
<div class="content-container">

    <div>
        <a href="/admin/orders" class="admin-button button-navbar <%= marked === "orders" ? "button-navbar-marked" : ""%>">Objednávky</a>
        <a href="/admin/orders/archive" class="admin-button button-navbar <%= marked === "archive" ? "button-navbar-marked" : ""%>">Archiv</a>
    </div>

    <h3>

        <% if (marked === "orders" ) { %>
            Aktivní objednávky
        <% } else if  (marked === "archive" ) { %>
            Archivované objednávky
        <% } %>
    </h3>

    <% if ((orders.length >= 1)) { %>
        <%- include('./parts/_orderList') %>
    <% } else { %>
        <div class="content-container">
            <p>žádné</p>
        </div>
    <% } %>
</div>

<%- include('./parts/_footer') %>