<%- include('./parts/_header') %>

<h2>Objednávka č. <%= order.id %></h2>

<div>Kurz: <%= order.course.title%></div>


<div>mail: <%= order.email %></div>
<div>telefon: <%= order.phone %></div>
<div>Poznámka: <%= order.note %></div>



<%- include('./parts/_footer') %>