<%- include('./parts/_header') %>
<%- include('./parts/_navbar') %>
<h1><%- category.title %></h1>
<%- category.content %>


<h2>Typy kurzů</h2>

<% if ((courses.length >= 1)) { %>
    <ul>
        <% for (const course of courses) { %>
            <li><a href="/course/<%= course.id %>"><%= course.title %></a></li>
        <% } %>
    </ul>
<% } else { %>
    žádné
<% } %>



<%- include('./parts/_footer') %>