<%- include('./parts/_header') %>
<%- include('./parts/_navbar') %>

<%- coursesContent %>

<div>
    <a href="/courses">Všechny</a>
    <% for (const type of types) { %>

        <a href="/courses?filter=<%= type.title %>"><%= type.title %></a>

    <% } %>
</div>

<div>
    <ul>
        <% for (const category of categories) { %>
            <li>
                <a href="/course-category/<%= category.id %>"><%= category.title %></a>
            </li>
        <% } %>
    </ul>
</div>

<%- include('./parts/_footer') %>