<%- include('./parts/_header') %>
<%- include('./parts/_navbar') %>
<h1>Kurzy</h1>

<%- coursesContent %>

<div>
    <% for (const course of courses) { %>
        <ul>
            <li>
                <a href="/course/<%= course.id %>"><%= course.title %></a>
            </li>

        </ul>

    <% } %>
</div>

<%- include('./parts/_footer') %>