<%- include('./parts/_header') %>
<%- include('./parts/_navbar') %>

<%- coursesContent %>

<div>
    <ul>
        <% for (const category of categories) { %>
            <li>
                <a href="/course-category/<%= category.id %>"><%= category.title %></a>
            </li>
        <% } %>
    </ul>
</div>

<%- include('./parts/_footer') %>