<%- include('./parts/_header') %>
<%- include('./parts/_navbar') %>

<div class="flex-container content-container">
    <div>
        <%- course.content %>
        <div class="order-button-container">
            <a href="/course/order/<%= course.id %>" class="order-button">Objednat</a>
        </div>

    </div>
    <div id="home-offers">
        <%- include('./parts/_homeOffers') %>
    </div>
</div>

<%- include('./parts/_footer') %>