<%- include('./parts/_header') %>
<%- include('./parts/_navbar') %>
<h1>Kurzy</h1>

<%- coursesContent %>

<div>
    <% for (const category of categories) { %>
        <ul>
            <li>
                <a href="/course-category/<%= category.id %>"><%= category.title %></a>
            </li>

        </ul>

    <% } %>
</div>

<%- include('./parts/_footer') %>