<%- include('_header') %>
<%- include('_navbar') %>
<h1>Super kurz</h1>

<div>
        <div>
            <%= course.title %>
            <%= course.description %>
        </div>

</div>

<%- include('_footer') %>