<%- include('./parts/_header') %>
<%- include('./parts/_navbar') %>

<div class="flex-container content-container">
    <div>
        <%- homeContent %>
    </div>
    <div id="home-offers">
        <%- include('./parts/_homeOffers') %>
    </div>
</div>

<%- include('./parts/_footer') %>