<%- include('./parts/_header') %>
<%- include('./parts/_navbar') %>
<h1>Shrnutí pro: <%= course.title%></h1>
<div id="content-container">
    <h2>Účastníci</h2>
    <h2>Fakturační údaje</h2>
    <h2>Poštovní adresa</h2>
    <h2>kontaktní informace</h2>
    <h2>Poznámka</h2>
    <div>
        <%= session.note %>
    </div>

    <form action="/course/place-order/<%= course.id%>" method="post">
        <div class="center-button">
            <button type='submit'>Dokončit obejdnávku</button>
        </div>
    </form>


</div>


<%- include('./parts/_footer') %>