<div class="content-container">

    <h3>
        <% if (!course) { %>
            Přidat kurz
        <% } else { %>
            Upravit kurz
        <% } %>
    </h3>

    <div class="content-container">
        <form
        <% if (!course) { %>
            action='/admin/courses/add-course'
        <% } else { %>
            action='/admin/courses/edit-course/<%= course.id %>'
                <% } %>

            method='post'>
            <div>
                <label>
                    <div>Název</div>

                    <input type="text" name="title" placeholder="název kurzu" class="input"
                    <% if (course) { %>
                           value="<%= course.title %>"
                            <% } %>
                    />
                </label>

            </div>

            <div>
                <div>Obsah</div>
                <textarea id="courseContent" name="courseContent"></textarea>
            </div>

            <div>
                <div>Kategorie</div>
                <select name="category">
                    <% for (const category of categories) { %>
                        <option value="<%= category.id %>"

                        <% if (course) { %>
                            <%= category.id === course.categoryId ? 'selected' : '' %>
                        <% } %>


                        ><%= category.title %></option>
                    <% } %>
                </select>
            </div>

            <div class="center-button">
                <button type='submit' class="admin-button button-blue mt20">
                    <% if (!course) { %>
                        Přidat
                    <% } else { %>
                        Upravit
                    <% } %>
                </button>
            </div>
        </form>

        <script>
            let editor = new FroalaEditor('#courseContent', {}, function () {
                <% if (course) { %>
                editor.html.set('<%- course.content %>');
                <% } %>
            })
        </script>

    </div>
</div>