<div id="content-container">
    <% for (const order of orders) { %>
        <div>
            <a href="/admin/orders/<%= order.id %>">
                <%= order.id %>.
            </a>

            Vytvořeno: <%= order.formatedDate %>

            <% if (archivedList) { %>
                <a href="/admin/orders/unArchiveOrder/<%= order.id %>">Odarchivovat</a>
            <% } else { %>
                <a href="/admin/orders/archiveOrder/<%= order.id %>">Archivovat</a>
            <% } %>

            <% if (!archivedList) { %>
                <% if (order.completed) { %>
                    <a href="/admin/orders/unCompleteOrder/<%= order.id %>">Od Hotovo</a>
                <% } else { %>
                    <a href="/admin/orders/completeOrder/<%= order.id %>">Hotovo</a>
                <% } %>
            <% } %>
            <a href="/admin/orders/delete/<%= order.id %>">smazat</a>

        </div>

    <% } %>
</div>