<div class="content-container">
    <hr>
    <% for (const order of orders) { %>
        <div id="admin-order-list">
            <div class="flex-horizontal">
                <a href="/admin/orders/<%= order.id %>">
                    Objednávka č. <%= order.id %>.
                </a>
                <div>
                    Vytvořeno: <%= order.formatedDate %>
                </div>
            </div>
            <div class="flex-horizontal">
                <div>
                    <% if (!archivedList) { %>
                        <% if (order.completed) { %>
                            <a href="/admin/orders/unCompleteOrder/<%= order.id %>">
                                <img src="/img/checkboxYes.png" class="w-[24px]">
                            </a>
                        <% } else { %>
                            <a href="/admin/orders/completeOrder/<%= order.id %>">
                                <img src="/img/checkboxNo.png" class="w-[24px]">
                            </a>
                        <% } %>
                    <% } %>
                </div>
                <div>
                    <% if (archivedList) { %>
                        <a href="/admin/orders/unArchiveOrder/<%= order.id %>" class="button-square button-blue">odarchivovat</a>
                    <% } else { %>
                        <a href="/admin/orders/archiveOrder/<%= order.id %>"
                           class="button-square button-blue">archivovat</a>
                    <% } %>
                </div>
                <div>
                    <a href="/admin/orders/delete/<%= order.id %>" class="button-square button-red">smazat</a>
                </div>
            </div>
        </div>
        <hr>

    <% } %>
</div>